{% extends "base.html" %}

{% block title %}Character List{% endblock %}

{% block content %}
<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis">Lista postaci</h1>
    <p>Cześć, {{user.username}}</p>
    <a href="{% url 'character:create' %}" class="btn btn-sm btn-dark">Dodaj nową</a>
    <a href="{% url 'user:logout' %}" class="btn btn-sm btn-light">Wyloguj</a>
</div>

<div class="container d-flex flex-row justify-content-center">
    {% for character in list %}
    <div class="card mx-2" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{ character.getName }}</h5>
            <p class="card-text">Level: 0</p>
            <a href="{% url 'character:detail' character.id %}" class="btn btn-sm btn-dark">Pokaż</a>
            <a href="{% url 'character:detail' character.id %}" class="btn btn-sm btn-light">Edytuj</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}